@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application.</p>
    <p>This is second paragraph..</p>
    <p>This is third paragraph...</p>
    <p>This is fourth paragraph....</p>
    <p>This is fifth paragraph.....</p>
    <p>This is sixth paragraph......</p>
    <p>This is seventh paragraph......</p>
    <p>This is eighth paragraph.......</p>
    <p>This is ninth paragraph.......</p>
    <p>This is tenth paragraph.......</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
